<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SmartStore.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>
<body>
   
    <header>
        <nav class="navbar navbar-expand-lg back-hf-color" data-bs-theme="light">
            <div class="container">

                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="navbar-brand text-light">SMARTSTORE.UA</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="dropdown">
                    <div class="dropdown-select">Адмін</div>
                    <ul class="dropdown-list">
                        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">Категорії</a></li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <form class="d-flex">
                            <input class="form-control" type="search" placeholder="Я шукаю...">
                            <button class="btn btn-success sharp-button" type="submit">Знайти</button>
                        </form>
                    </ul>
                </div>

                <div class="message-icon-container">
                    <a asp-action="Index" asp-controller="Wishlist">
                        <i class="fas fa-shopping-cart cart-icon"></i>
                    </a>
                </div>

                <div class="message-icon-container">
                    <a asp-action="Index" asp-controller="Wishlist">
                        <i class="fas fa-heart heart-icon"></i>
                    </a>
                </div>

                <div class="message-icon-container">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-user user-icon"></i>
                    </a>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted back-hf-color">
        <div class="container">
            &copy; 2023 - SmartStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
