@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a></li>
}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user"></i> Мій акаунт</a></li>
}
