@page
@model ChangePasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group">
                <label asp-for="Input.OldPassword" class="form-label">Поточний пароль</label>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Будь ласка, введіть свій старий пароль." />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.NewPassword" class="form-label">Новий пароль</label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Будь ласка, введіть свій новий пароль." />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="form-label">Підтвердити новий пароль</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Підтвердьте свій новий пароль." />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="manage-footer">
                <button type="submit" class="turnback-button">Оновити пароль</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
