@page
@model EmailModel
@{
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-group">
                    <label asp-for="Email" class="form-label">Поточний Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Будь ласка, введіть свою електронну адресу." disabled />
                    <div class="verify-email">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Email" class="form-label">Поточний Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Будь ласка, введіть свою електронну адресу." disabled />
                    <div class="verify-email">
                        <span>Профіль не верифіковано</span>
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail">Верифікувати профіль</button>
                    </div>
                </div>
            }
            <div class="form-group">
                <label asp-for="Input.NewEmail" class="form-label">Новий Email</label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Будь ласка, введіть свою нову електронну адресу." />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
        </form>

        <div class="manage-footer">
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="turnback-button">Змінити Email</button>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
