@page
@model PersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-12">
        <p style="font-size: 15px;">Ваш обліковий запис містить персональні дані, які ви нам надали. Ця сторінка дозволяє видалити ці дані.</p>
        <p>
            <strong>Видалення цих даних призведе до остаточного видалення вашого облікового запису, і його неможливо відновити.</strong>
        </p>
        <div class="manage-footer">
            <a id="delete" asp-page="DeletePersonalData" class="delete-button"><i class="fas fa-trash-alt"></i> Видалити</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
