@model SmartStore_Models.ViewModels.HomeVM

<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            
            <ul class="main-nav nav navbar-nav">
                <li><a href="#" class="filter-button" data-filter="all">Всі категорії</a></li>
                @foreach (var obj in Model.Categories)
                {
                    <li><a href="#" class="filter-button" data-filter="@obj.Name.Replace(' ','_')">@obj.Name</a></li>
                }
            </ul>
        
        </div>
    </div>
</nav>

<div class="row">
    @if (Model.SearchResults != null && Model.SearchResults.Any())
    {
        foreach (var prod in Model.SearchResults)
        {
            <partial name="_IndividualProductCard" model="prod" />
        }
    }
    else
    {
        @foreach (var prod in Model.Products)
        {
            <partial name="_IndividualProductCard" model="prod" />
        }
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });
        });
    </script>
}