@model SmartStore_Models.Category

<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3 bg-white mt-4">

        <div class="form-group row text-center mb-4">
            <h2 class="offset-4 col-8" style="color:limegreen">Створити категорію</h2>
            <div class="under-line" style="height: 2px; background-color:limegreen;"></div>
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

    </div>

    <div class="button-container">
        <div class="buttons">
            <a asp-action="Index" class="turnback-button"><i class="fas fa-arrow-left"></i> Повернутись</a>
            <input type="submit" class="success-button" value="Створити" />
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
