@model SmartStore_Models.Category

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 bg-white mt-4">

        <div class="form-group row text-start mb-4">
            <h2 class="offset-4 col-8" style="color:steelblue">Редагувати категорію</h2>
            <div class="line" style="height: 2px; background-color:steelblue;"></div>
            <hr>
        </div>

        <div class="row">
            <div class="col-8">
                
                <div class="form-group row py-2">
                    <div class="offset-4 col-8">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="offset-4 col-8">
                        <label asp-for="DisplayOrder"></label>
                        <input asp-for="DisplayOrder" class="form-control" />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-100"><i class="fas fa-arrow-left"></i> Повернутись</a>
                        </div>

                        <div class="col">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="fas fa-redo-alt"></i> Оновити
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}