@using SmartStore_Utility
@model SmartStore_Models.Product

<form method="post">

    <input asp-for="Id" hidden />

    <div class="border p-3 bg-white mt-4">

        <div class="form-group row text-center mb-4">
            <h2 class="offset-4 col-8" style="color:#e20707">Видалити товар</h2>
            <div class="under-line" style="height: 2px; background-color:#e20707;"></div>
        </div>

        <div class="row">
            <div class="col-8">

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" disabled class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" disabled class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" disabled class="form-control" />
                </div>

                <div class="image-select-form">
                    <label asp-for="CategoryId"></label>
                    <input asp-for="Category.Name" disabled class="form-control" />
                </div>

                @if (Model.Id != 0)
                {
                    <img src="@WC.ImagePath@Model.Image" style="max-width: 300px; height: auto; border-radius: 5px; border: 1px solid #bbb;" />
                }

            </div>
        </div>
    </div>

    <div class="button-container">
        <div class="buttons">
            <a asp-action="Index" class="turnback-button"><i class="fas fa-arrow-left"></i> Повернутись</a>
            <button type="submit" class="delete-button">
                <i class="fas fa-trash-alt"></i> Видалити
            </button>
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable: true
            });
        });

    </script>
}